@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    padding: 0; margin: 0; box-sizing: border-box;
}

@font-face {
    font-family: 'ProximaRegular';
    src: url('../public/fonts/ProximaNova-Regular.otf');
}

.proxima-regular {
    font-family: 'ProximaRegular';
}

@font-face {
    font-family: 'ProximaBold';
    src: url('../public//fonts/ProximaNova-Bold.otf');
}

.proxima-bold {
    font-family: 'ProximaBold';
}

@font-face {
    font-family: 'ProximaLight';
    src: url('../public//fonts/ProximaNova-Light.otf');
}

.proxima-light {
    font-family: 'ProximaLight';
}

body {
    background-color: #380158;
}